---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>Escrito el {frontmatter.pubDate.toString().slice(0, 10)}</p>

  <p>Autor: {frontmatter.author}</p>

  <div class="my-4">
    {
      frontmatter.tags.map((tag) => (
        <a class="btn btn-primary rounded-pill me-2 py-0" href={`/tags/${tag}`}>{tag}</a>
      ))
    }
  </div>

  <img class="mb-4" src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <slot />
</BaseLayout>
